<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>About This App</h1> 
      
    <nav class="topnav">
        <a href="{{ url_for('home.html') }}">Home</a>
        <a href="{{ url_for('notes.html') }}">Notes</a>
        <a href="{{ url_for('about.html') }}">About</a>
    
    </topnav>
    

    <p>This Notes App is designed to help you create and manage your notes efficiently. You can add, edit, and delete notes as needed.</p>




</body>
</html>