<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Your Notes</h1>

    <div class="topnav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('notes') }}">Notes</a>
        <a href="{{ url_for('about') }}">About</a>

        <div class="dropdown">
            <button class="dropbtn">Theme</button>
            <div class="dropdown-content">
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
            </div>
        </div>
    
    </div>

    <h1>Edit Note</h1>
    <form method = "POST">
        <label>Title</label>
        <br>
        <input type="text" name="title" value="{{ note [1]}}" required>
        <br>
        <br>
        <br><label>Bodytext</label>
        <br>
        <input type="text" name="bodytext" value="{{ note [2]}}" required>
        <br>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <br>
    <a href="{{ url_for('notes') }}">Back to Notes</a>
</body>
</html>