<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Welcome to the Notes App</h1>

    <nav class="topnav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('notes') }}">Notes</a>
        <a href="{{ url_for('about') }}">About</a>

        <dropdown>
            <a href="#">Options</a>
                <div class="dropdown-content">
                    <buttoon onclick ="toggleDarkMode()">Toggle Dark Mode</button>
                    <script>
                        function toggleDarkMode() {
                        document.body.classList.toggle("dark-mode"); }
                    </script>
                </div>
        </dropdown>    
    
    </nav>
    
    <h2> Most Recent Note</h2>
        {% if recent_note %}
        <div class="container">
            <h1> {{ recent_note[1] }}</h1>
            <hr>
            <p> {{ recent_note[2] }} </p>
            <hr>
            <img src="{{ url_for('static', filename='uploads/' + (recent_note[4] if recent_note[4] else 'default.jpeg')) }}" width="400" height="300" alt="Image" style="vertical-align: middle ; border-radius: 15%;"></img>
            <hr>
            <p>Created: {{ recent_note[3] }}</p>
        </div>
    {% else %}
        <p>No notes have been created yet. go to notes page to add some.</p>
    {% endif %}


  
</body>
</html>